@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/* <-----RIECHEL FABRIGAS (content & structure)---->*//

* {
  box-sizing: border-box;
}

body{
      animation: colorchange 35s; 
      -webkit-animation: colorchange 35s; 
    }

    @keyframes
    {
      0%   {background-color: #99B898;}
      25%  {background-color: #FECEA8;}
      50%  {background-color: #FF847C;}
      75%  {background-color: #E84A5F;}
      100% {background-color: #2A363B;}
    }

    @-webkit-keyframes colorchange 
    {
      0%   {background-color: #99B898;}
      25%  {background-color: #FECEA8;}
      50%  {background-color: #FF847C;}
      75%  {background-color: #E84A5F;}
      100% {background-color: #2A363B;}
    }

  .main {
    margin-l: 200px;
    height: 1000px;
  }
}

.title{
    background-color: #DAAD86;
    margin: auto;
    height: 8%;
    text-align: center;
}

.title1{
    background-color: #d5f4e6;
    margin: auto;
    height: 8%;
    text-align: center;

}

h1 {
    text-align: center;
    font-size: 50px;
    color: black;
  }

  h2 {
    text-align: center;
    font-size: 90px
    color: black;
  }

  p{
  text-align: center;
}

img {
  border-radius: 50%;
}

.hover figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}


.container .btn {
  position: absolute;
  top: 50%;
  left: 170%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: gray;
  font-size: 18px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
